<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Daniele Carvalho">

	<link rel="shortcut icon" href="#" />

	<title>Hotel</title>
	<meta name="keywords" content="" />

	<!-- Vendor CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

	<!--link rel="stylesheet" href="./src/scss/mainstyle.css"-->
	<link type="text/css" rel="stylesheet" href="./src/scss/grid.css">

</head>

<body class="d-flex flex-column">

	<main class="flex-shrink-0">
		<div class="container-fluid text-center">
			<div class="row">
				<h1>The Hotel</h1>
			</div>
			<div class="row">
				<div class="col">
					<div class="box">
						<a href="<%= app1URL; %>">
							<i class="<%= app1Icon; %>"></i>
							<p>
								<%= app1Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app2URL; %>">
							<i class="<%= app2Icon; %>"></i>
							<p>
								<%= app2Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app3URL; %>">
							<i class="<%= app3Icon; %>"></i>
							<p>
								<%= app3Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app4URL; %>">
							<i class="<%= app4Icon; %>"></i>
							<p>
								<%= app4Title; %>
							</p>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="box">
						<a href="<%= app5URL; %>">
							<i class="<%= app5Icon; %>"></i>
							<p>
								<%= app5Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app6URL; %>">
							<i class="<%= app6Icon; %>"></i>
							<p>
								<%= app6Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app7URL; %>">
							<i class="<%= app7Icon; %>"></i>
							<p>
								<%= app7Title; %>
							</p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="box">
						<a href="<%= app8URL; %>">
							<i class="<%= app8Icon; %>"></i>
							<p>
								<%= app8Title; %>
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer mt-auto">
		<div class="container-fluid">
			<span>
				<%= today %>
					<span class="weatherIcon">
						<i class="<%= weatherIcon %>"></i>
					</span>
					<%= weatherTemp %> Room: <%= room %>
							<%= registerUsername;%>
			</span>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>