<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniele Carvalho">

    <link rel="shortcut icon" href="#" />

    <title>Room</title>
    <meta name="keywords" content="" />

    <!-- Vendor CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--link rel="stylesheet" href="./src/scss/mainstyle.css"-->
    <link rel="stylesheet" href="./src/scss/weather.css">

</head>

<body>
    <h1>Weather</h1>
    <nav class="nav">
        <a href="#" class="nav-item is-active"><%= $place1 %></a>
        <a href="#" class="nav-item"><%= $place2 %></a>
        <a href="#" class="nav-item"><%= $place3 %></a>
        <a href="#" class="nav-item"><%= $place4 %></a>
        <a href="#" class="nav-item"><%= $place5 %></a>
        <a href="#" class="nav-item"><%= $place6 %></a>
    </nav>

    <a href="<%= $return %>">
        <i class="return" data-feather="corner-up-left"></i>
    </a>

    <div class="container">
        <div class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">
                <h2 class="date-dayname"><%= $weather1WD %></h2>
                <span class="date-day"><%= $weather1Date %></span>
                <i class="location-icon" data-feather="map-pin"></i>
                <span class="location"><%= $weather1Place %></span>
            </div>
            <div class="weather-container">
                <i class="weather-icon" data-feather="<%= $weather1Icon %>"></i>
                <h1 class="weather-temp"><%= $weather1Temp %></h1>
                <h3 class="weather-desc"><%= $weather1Desc %></h3>
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation">
                        <span class="title">PRECIPITATION</span><span class="value"><%= $precipitation %></span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity">
                        <span class="title">HUMIDITY</span><span class="value"><%= $humidity %></span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind">
                        <span class="title">WIND</span><span class="value"><%= $wind %></span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="week-container">
                <ul class="week-list">
                    <li class="active">
                        <i class="day-icon" data-feather="sun"></i>
                        <span class="day-name">Monday</span>
                        <span class="day-temp"><i data-feather="arrow-up"></i>25°C / 45ºF</span>
                        <span class="day-temp"><i data-feather="arrow-down"></i>14°C/ 27ªF</span>
                    </li>
                    <li>
                        <i class="day-icon" data-feather="<%= $miniWeather1Icon %>"></i>
                        <span class="day-name"><%= $miniWeather1Day %></span>
                        <span class="day-temp"><i data-feather="arrow-up"></i><%= $miniWeather1Max %></span>
                        <span class="day-temp"><i data-feather="arrow-down"></i><%= $miniWeather1Min %></span>
                    </li>
                    </li>
                    <li>
                        <i class="day-icon" data-feather="<%= $miniWeather2Icon %>"></i>
                        <span class="day-name"><%= $miniWeather2Day %></span>
                        <span class="day-temp"><i data-feather="arrow-up"></i><%= $miniWeather2Max %></span>
                        <span class="day-temp"><i data-feather="arrow-down"></i><%= $miniWeather2Min %></span>
                    </li>
                    <li>
                        <i class="day-icon" data-feather="<%= $miniWeather3Icon %>"></i>
                        <span class="day-name"><%= $miniWeather3Day %></span>
                        <span class="day-temp"><i data-feather="arrow-up"></i><%= $miniWeather3Max %></span>
                        <span class="day-temp"><i data-feather="arrow-down"></i><%= $miniWeather3Min %></span>
                    </li>
                    <li>
                        <i class="day-icon" data-feather="<%= $miniWeather4Icon %>"></i>
                        <span class="day-name"><%= $miniWeather4Day %></span>
                        <span class="day-temp"><i data-feather="arrow-up"></i><%= $miniWeather4Max %></span>
                        <span class="day-temp"><i data-feather="arrow-down"></i><%= $miniWeather4Min %></span>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>

        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../src/js/featherIcons.js"></script>
    <script src="../src/js/tabs.js"></script>
</body>

</html>